body {
  font-family: 'Roboto'; }
  body .container-fluid {
    padding: 0px; }
  body .vertical-gap {
    display: block;
    margin: 20px; }

.jumbotron {
  color: white;
  background-color: #4285F4;
  padding: 5%;
  margin-bottom: 0px; }
  .jumbotron .h1_caption {
    font-weight: lighter; }

.attending_container google-map {
  display: block;
  width: 100%;
  height: 300px; }

.talks_container .talk_thumbnail paper-button[raised].play {
  color: white;
  background-color: #259b24; }
.talks_container .talk_thumbnail paper-button[raised].download_slides {
  color: white;
  background-color: #e51c23; }
.talks_container .talk_thumbnail paper-button[raised].eventbrite {
  color: white;
  background-color: #4285F4; }

.communities_container paper-button[raised].indigo_paper_button {
  background-color: #3f51b5; }
