!!! 5

%html

  %head
    %title MMU Googley Resources
    %link{rel: :stylesheet, href: '/bower_components/bootstrap/dist/css/bootstrap.min.css'}
    %link{rel: :stylesheet, href: '/css/index.css'}

    %script{src: '/bower_components/jquery/dist/jquery.min.js'}
    %script{src: '/bower_components/jquery/dist/bootstrap.min.js'}

  %body
    .container

      %h2 Online Communities

      .list-group

        %a.list-group-item{href: 'https://www.facebook.com/groups/googlemmu'}
          %h4.list-group-item-heading Facebook Group

        %a.list-group-item{href: 'https://plus.google.com/communities/114438543092496821342'}
          %h4.list-group-item-heading Google+ Community

      %h2 Introduction to Git

      .list-group

        %a.list-group-item{href: 'https://docs.google.com/presentation/d/1F2dV8yfw8osKtzcR_UwKhwSFNcW_LMCmQVh1F7jfyV8/edit?usp=sharing'}
          %h4.list-group-item-heading Slide Deck
          %p.list-group-item-text Covers the what, why and how of using git. Happy coding!

        %a.list-group-item{href: 'http://try.github.io'}
          %h4.list-group-item-heading Try Git
          %p.list-group-item-text Very nice interactive tutorial on Git, you should try it.

        %a.list-group-item{href: 'http://msysgit.github.io'}
          %h4.list-group-item-heading Download for Windows
        
      %h2 Other Links

      .list-group

        %a.list-group-item{href: 'http://www.techinkl.com'}
          %h4.list-group-item-heading TECH in KL
          %p.list-group-item-text Calendar for tech events in Klang Valley

        %a.list-group-item{href: 'http://www.mysgdev.com'}
          %h4.list-group-item-heading Malaysia and Singapore Developer Interest Groups

      %h2 Points of Contact

      .list-group

        .list-group-item
          %h3.list-group-item-heading Anonoz Chong (Official GSA at Cyberjaya campus)
        
        %a.list-group-item{href: 'mailto:honsiongchs@gmail.comk'}
          %p.list-group-item-text GMail: honsiongchs

        .list-group-item
          %p.list-group-item-text Phone: +60 173009142 (Primary)

        .list-group-item
          %p.list-group-item-text Phone: +65 91746417 (Secondary)

        %a.list-group-item{href: 'https://www.facebook.com/anonoz'}
          %p.list-group-item-text Facebook

        %a.list-group-item{href: 'http://plus.google.com/+AnonozChong'}
          %p.list-group-item-text Google+


      .list-group

        .list-group-item
          %h3.list-group-item-heading Chun Wai (Google SIG Head at Melaka campus)
        
        .list-group-item
          %p.list-group-item-text Phone: +60 143602762

        %a.list-group-item{href: 'https://www.facebook.com/chunwaiiii'}
          %p.list-group-item-text Facebook
          